<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        title
    </title>
</head>
<body>
    <font size = "25em">
        뇌졸중 검사기
        <br>
    </font>
    <button type="button" onclick="location.href='/show_result' ">테스트 시작</button>
    <button type="button" onclick="location.href='/show_train_result' ">트레이닝</button>
</body>
</html>